h1{
    color: blueviolet;
    background-color: rgb(217, 255, 80);
    text-align: center;
    margin-bottom: 100px;
}

body{
    background-size: 100% ;
}

img{
    height: 200px;
    width: auto;
}
button{
    opacity: 0;
    width: 50px;
    height: 50px;
}

.projectDiv{
    padding: 1px;
    display: flex;
    width: auto;
    height: 200px;
    max-width: 500px;  
    border-width: 2px;
    border-color: black;
    border-style:inset;
    margin: 2px;
    font-style: oblique;
    color: aquamarine;
}

.projectDiv:hover{
    background: blue; /* make this whatever you want */
    }
.projectName{
    size: 14px;
    margin: 2px;
}

.projectDesc{
    margin: 2px;
    max-width: 95%;
}

#allProjectsDiv{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
}