h1{
    color: rgb(20,68,108);
}


.topBar {
    z-index:3;
    display: flex;
    background-color: rgb(11,44,60);
    background-size: cover;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0px;
    padding: 20px;
    offset: 0;

    /*in case of a scrollbar*/
    position: sticky;
    top:0;
}

#logo{
    padding: 0px;
    margin: 6px;
    position:absolute;
    position:absolute;
    top:0;
    right:0;
    width:auto;
    height: 90%;

}

#sidebar_btn{
    padding: 0px;
    margin: 20px;
    position:absolute;
    top:0;
    left:0;
    display: block;
    width:100px;
    height: 100px;
}

body{
    font-size:20px;
    background-color: rgb(52,132,108);
}

img{
    height: 200px;
    width: auto;
}

.scrollbar{
    overflow-y: auto;
    float: right;
}

.projectDiv{
    padding: 1px;
    display: flex;
    height: 200px;
    width: 500px;  
    border: 2px black inset;
    margin: 10px;
    background-color: rgba(57,134,106,255);
}

.project_Text{
    font-style: oblique;
    color: aquamarine;
}


.projectDiv:hover{
    transition: 0.7s;
    background-color: rgba(28,86,86,255); /* make this whatever you want */
    height: 220px;
    width: 520px;
    margin:0px
}

.projectDiv img{
    height: 100%;
    width: auto
}

.projectName{
    size: 14px;
    margin: 2px;
}

.projectDesc{
    margin: 2px;
    max-width: 95%;
}

#main_context{
    display: flex;
    justify-content: center;
    text-align: center;
}

#allProjectsDiv{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10vw;
    margin-top: 10vw;
}


footer{
    margin-top: auto;
    display: flex;
    justify-content: space-around;

}

.button {
    background-color: rgb(131,211,147); /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    height:  100%;
    width: 100%;
  }

#sidebar{
    display: none;
}

.tic_tac_toe{

    position:absolute;
    margin:0px;
    width:350px;
    height:400px;
    opacity:1;
    z-index:2;
    background:#677;
    display:flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
}


.board{
    display:flex;
    flex-flow: row wrap;
    overflow: hidden;
    height: 300px;
    width: 300px;

}
.cell{
    height: 90px;
    width: 90px;
    margin: 5px;
    background-color: blue;
}

#rick_roll{
    background-color: transparent;
}